*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111827;
    color:white;
    padding:20px;
    display:flex;
    justify-content:center;
}


.container{
    width:100%;
    max-width:450px;
    background:#1f2937;
    padding:20px;
    border-radius:14px;
    box-shadow:0 0 20px rgba(0,0,0,0.4);
}


h2{
    text-align:center;
    margin-bottom:20px;
}


.input-box{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.input-box input{
    flex:1;
    padding:10px;
    border-radius:8px;
    border:none;
    outline:none;
    background:#374151;
    color:white;
    transition:0.3s ease;
}

.input-box input:hover{
   transform:translateY(-3px);
    box-shadow:0px 0px 10px rgb(255, 255, 255);

    
}

.input-box button{
    padding:10px 16px;
    border:none;
    background:#22c55e;
    color:white;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s ease;
}

.input-box button:hover{
    background:#16a34a;
      transform:translateY(-3px);
    box-shadow:0 6px 20px rgba(34,197,94,0.45);
}


.todo{
    background:#273244;
    padding:12px;
    border-radius:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
    animation:fadeIn 0.4s ease;
}


.todo p{
    margin:0;
    font-size:15px;
}


.delete{
    background:rgb(168, 5, 5);
    border:none;
    color:white;
    padding:6px 10px;
    border-radius:6px;
    cursor:pointer;
    margin-left:6px;
    transition:0.2s;
    margin: 5px;
    transition:0.3s ease;
}

.delete:hover{
    background:rgb(143, 2, 2);
    transform:translateY(-3px);
    box-shadow:0 3px 19px rgb(199, 20, 20);
}
.edit{
    background:#3b82f6;
    border:none;
    color:white;
    padding:6px 10px;
    border-radius:6px;
    cursor:pointer;
    margin-left:6px;
    transition:0.2s;
    margin: 5px;
      transition:0.3s ease;
}

.edit:hover{
    background:#2563eb;
    transform:translateY(-3px);
    box-shadow:0 3px 19px rgb(37, 99, 235);
}





@keyframes fadeIn{
    from{opacity:0; transform:translateY(10px);}
    to{opacity:1; transform:translateY(0);}
}
